.project-heading {
  font-size: 50px;
}

.slide {
  display: flex;
  align-items: center;
}

.project-image {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

.project-caption {
  margin: 0;
  font-size: 18px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
